/* NavBar shizz */
a{
  color:gray;
  font-size:20px;
  font-family:Helvetica;
  font-weight:300;
  margin:10px;
  margin-top:20px;
  text-align:center;
  text-decoration:none;
  padding:2.5%;
  
}
a:hover{
  text-decoration:underline;
  text-decoration-color:white;
}

.NavBar{
	margin-left: auto;
        margin-right: auto;
	position:absolute;
	width:30%;
	background-image: url('http://files.arroway-textures.de/catalog/images/maps/previews/preview_wood-078_zebrano-2-dark_d.jpg');
	
}
