center
{
  color:blue;
  background-color:orange;
  padding:10%;
  font-size:45px;
  font-family:"ComicSans";
}
center:hover
{
  background-color:purple;
  color:blue; 
}
img
{
  height:250px;
  width:100%;
}
