/* NavBar shizz */
a{
  color:gray;
  font-size:20px;
  font-family:Helvetica;
  font-weight:300;
  margin:10px;
  margin-top:20px;
  text-align:center;
  text-decoration:none;
  padding:2.5%;
}
a:hover{
  text-decoration:underline;  
}


.navbar{
	position:relative;
	width:100%;
  padding-top:2.5%;
  padding-bottom:2.5%;
	background-image: url('http://files.arroway-textures.de/catalog/images/maps/previews/preview_wood-078_zebrano-2-dark_d.jpg');
  box-shadow:10px 10px 10px black;	
}
.name{
	color:#8A9294;
	font-size:30px;
	font-family:Helvetica;
  padding:2.5%;
}
/* Body */
body{
  font-family:Helvetica;
  background-color:#222;
}
/* Content */
.content{
  color:white;
  width:100%;
  background-color:#CDC5BF;
  margin-top:7%;
  padding-bottom:1.5%;
  padding-top:1.5%;
  border:solid #000;
  font-size:20px;
}
